body {
  background-image: url('./Assests/background.png');
  background-color:rgb(248, 231, 216);
  background-position: top left; /* Define a posição no canto superior esquerdo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Mantém a imagem fixa no lugar enquanto a página é rolada */
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
  grid-gap: 20px; /* Espaçamento entre as colunas */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
}



.image {
  width: auto;
  max-height: 40vh;
}

.text {
  font-size: 5rem;
  max-width: 400px;
  text-align: end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 639px){
  .header {
    flex-direction: column;
  }

  .text {
    text-align: center;
    font-size: 2.5rem;
    width: 90%;
  }
}

@media only screen and (max-width: 713px){
  .header {
    flex-direction: column;
  }

  .text {
    text-align: center;
    font-size: 4rem;  }
}